@model CSLY.ViewModel.ProductCategoryImageViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Products</li>
        <li class="breadcrumb-item active">Add</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Add Product
        </div>
        <div class="card-body">
            @using (Html.BeginForm("ProductManager", "Products",FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    @Html.LabelFor(p => p.Product.ProductName)
                    @Html.TextBoxFor(p => p.Product.ProductName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Product.ProductName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(p=>p.Product.CategoryId)
                    @Html.DropDownListFor(p => p.Product.CategoryId, new SelectList(Model.Category, "CategoryId", "CategoryName"), "Select Category ", new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Product.CategoryId)
                </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Product.Amount)
                @Html.TextBoxFor(p => p.Product.Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Amount)
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Product.Price)
                @Html.TextBoxFor(p => p.Product.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Price)
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Product.ImagePath)
                <input type="file" name="ImageFile" multiple="multiple"/>
            </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>

                @Html.HiddenFor(p=>p.Product.ProductId)
            }
        </div>
    </div>
</div>


